body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 5px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

main {
    padding-top: 50px; /* Adjust for fixed header */
}

section {
    padding: 20px;
    margin: 20px 0;
}


.login-container {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ensure the container takes up the full height of the viewport */
    
}

.image-after-login {
    width: 100%; /* Make image fill its container */
    height: auto; /* Maintain aspect ratio */
    /* Add styling for your image as needed */
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px; /* Make image appear as a square */
}
.btn-primary {
    background-color: #4AAE9B;
    border-color: #4AAE9B;
  
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

#dropZone {
    border: 2px dashed #4AAE9B;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}

#fileList {
    margin-top: 10px;
}

#fileList li {
    list-style: none;
}

/* Hide the file input */
#fileInput {
    display: none;
}