/* Reset default styles */
/* Reset default browser styles */
body, h1, p, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

header {
    background-color: #0056b3;
    color: #fff;
    padding: 10px 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    
}
.logout
{

}
.google
{
    height: 100%;
    display: flex;
    align-items: center;
}
.logo
{
    height: 100%;

}
.logo img {
    height: 100%;
}

.nav-links li {
    display: inline;
    margin-left: 20px;
    
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
}

.main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.slider-navigation {
    background-color: #fff;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px 0;
    
}



 /* Additional CSS styles for the login credentials */
 .login-credentials {
    text-align: center;
    margin-top: 20px;
}

.login-credentials h2 {
    font-weight: bold;
}

.login-credentials h3 {
    font-weight: bold;
    color: #007bff; /* Blue color */
}
.lw-topbar-options {
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    gap: 10px; /* Spacing between items */
    padding: 20px;

}

.lw-topbar-option {
    list-style: none; /* Remove default list styles */
}

.lw-topbar-option a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit text color */
    font-size: 15px; /* Adjust font size as needed */
    font-weight: bolder; /* Apply bold font weight */
}

.lw-topbar-option a:hover {
    color: #007bff; /* Change color on hover */
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}



section {
    padding: 20px;
    margin: 20px 0;
}

form{
    height: 50%;
}
.login-container {
    max-width: 40%;
    height: 500px;
    padding: 15px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
section h2 {
    border-bottom: 1px solid #ccc;
    margin-top: 0;
    padding-bottom: 0.5em;
}

.paragraph {
    text-align: justify;
    font-size: 1.1rem;
    line-height: 1.5;
    color: #333; /* Adjust text color */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /* Change font family if needed */
}

.social-media {
    display: flexbox;
    flex-direction: row;
    justify-content: center;
}

.icon {
    width: 2em;
    height: 2em;
    margin-right: 0.5em; /* Adjusted margin */
}

.text-link {
    text-decoration: none;
    color: "#0056b3"; 
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
}
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ensure the container takes up the full height of the viewport */
    
}

.image-after-login {
    width: 100%; /* Make image fill its container */
    height: auto; /* Maintain aspect ratio */
    /* Add styling for your image as needed */
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px; /* Make image appear as a square */
}
.btn-primary {
    background-color: #4AAE9B;
    border-color: #4AAE9B;
  
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.drag-drop-container {
    margin-top: 20px;
    padding: 20px;
    border: 2px dashed #ccc;
    border-radius: 5px;
}

#dropZone {
    padding: 20px;
    border: 2px dashed #aaa;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    background-color: #f9f9f9;
}

#fileList {
    margin-top: 10px;
}

#fileList li {
    list-style: none;
}



#chooseFileBtn,#riClickBtn,#dblClickBtn {
    background-color: #007bff; /* Blue background color */
    color: #fff; /* White text color */
    padding: 10px 20px; /* Padding for the button */
    border: none; /* Remove border */
    border-radius: 5px; /* Add border-radius for rounded corners */
    cursor: pointer; /* Add cursor pointer for hover effect */
    justify-items: auto;
    margin: 40px;
 
}

#regularFileInput{
    background-color: #007bff; /* Blue background color */
    color: #fff; /* White text color */
    padding: 10px 20px; /* Padding for the button */
    border: none; /* Remove border */
    border-radius: 5px; /* Add border-radius for rounded corners */
    cursor: pointer; /* Add cursor pointer for hover effect */
    justify-items: auto;
    margin: 50px;
}



#chooseFileBtn:hover {
    background-color: #0056b3; /* Darker blue background color on hover */
}
